section {
    display: inline-block;
    width: 220px;
    padding: 5px 3px 2px 3px;
    border-right: 1.5px rgb(69, 6, 133) solid;
    margin-bottom: 15px;
    
}

aside {
    display: inline-block;
    width: 895px;
    vertical-align:top;
    padding: 0 15px 0 15px;
    background-color: rgb(243, 190, 111);
}




header {
    border-bottom: 1.0px solid rgba(67, 47, 83, 0.904);
    color: rgba(21, 1, 36,);
    text-align : center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
    color: darkblue;
    padding: 12px 0 12px 0;
    font-style: italic;
    text-shadow: 1px 1px #9900ff;



}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: rgb(5, 5, 59);
    width: 1300px;
    margin: 20px auto;
    background-color: rgb(241, 199, 134);
    word-spacing: 3px;
    letter-spacing: 2px;
    line-height: 1.2em;

}
  ul{list-style:disc outside;}

h1,
h3 {
    font-style: oblique;

}


nav {
    padding: 10px 2px 16px 2px;
    border-bottom: 1px rgb(189, 47, 66);
    border-top: 1px rgb(189, 47, 66);
    
}

a {
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 5px;            
    font-style: oblique;
    text-decoration: none;
}

section {
    display: inline-block;
    width: 250px;
    padding: 8px 0 5px 5px;
    border-right: 1.5px rgb(69, 6, 133) solid;
    margin-bottom: 20px;
}

aside {
    display: inline-block;
    width: 890px;
    vertical-align:top;
    padding: 0 20px 0 20px;
}
p{color: rgb(48, 2, 2);}

